<form action="">
    <p>
        <label>Title</label>
        <input type="Title" id="Title" />
    </p>
    <p>
        <label>Request</label>
        <textarea type="Request" id="Request" rows="1" ></textarea>
    </p>
    <p>
        <Label for="order">Priority</Label>
        <input type="radio" name="order"> High
        <input type="radio" name="order"> Medium
        <input type="radio" name="order"> Low
    </p>
    <p>
        <buttonappButtonUD >
            Submit
            <span class="icons">➡️</span>
         </buttonappButtonUD>
    </p>
</form>